@charset "UTF-8";

/* ---------------------------------------------------
  :: Account
  ---------------------------------------------------- */

.sub-nav {
    .divider { color: $grey-medium; }
}

// Page profil

.account {
    form.custom {
        label { line-height: 1.8; }

        p { color: #898989; }

        .change-data {
            font-size: 0.688em;
            padding: 4px 5px; }
    }

    .panel {
        min-height: 85px;

        &-highlight {
            background: #ff9c31;

            p,
            h2,
            strong {
                color: $white;
            }

            h2 {
                font-size: 1rem;
                font-weight: bold;
            }

            strong {
                font-weight: bold;
            }

            a {
                color: #087284;
            }
        }
    }

    .info-table {
        width: 45px;
        height: 60px;
        margin: 0 20px 0 0;
        float: left;
        opacity: 0.5;
        background: url('../images/icon-info.png') no-repeat 0 0;
    }
}

.table-account {
    thead {
        th {
            height: 50px;
            font-weight: bold;
            border: solid 1px #1a92a7;
            padding-left: 15px;
            padding-right: 15px;

        }
    }
    tbody {
        td {
            &:first-child {
                width: 15%;
            }
            border: solid 1px #ffd83b;
            padding: 8px 15px;

            h2 {
                font-family: $global-fonts;
            }
            .icon-trash,
            .icon-eye {
                width: 20px;
                height: 22px;
                display: inline-block;
                margin: 0 6px 0 6px;
                background: url('../images/icon-action.png') no-repeat 0 0;
            }
            .icon-trash { background: url('../images/icon-action.png') no-repeat 0 0; }
            .icon-eye { background: url('../images/icon-action.png') no-repeat -20px 5px; }
        }
    }
}

.table-quotation {
    tbody {
        td {
            &:first-child {
                width: auto;
            }
        }
    }
}

// Nav login header

.user {
    margin: 35px 0 0 0;
    .user-name {
        font-family: $global-fonts;
        color: $black;
        font-size: 1em;
    }
    .arrow-user {
        margin: 0 10px 0 0;
        float: left;
        display: block;
        height: 15px;
        width: 15px;
        background: url('../images/icon-account.png') no-repeat 0 0;
    }
    .logout {
        margin: 0 0 0 15px;
        width: 12px;
        height: 15px;
        display: block;
        background: url('../images/icon-account.png') no-repeat -15px 0;
    }
}
.notification-account-user {
    margin: 35px 20px 0 0;

    .alert-account,
    .favorite-residence,
    .folder-attachment {
        margin: 0 15px 0 0;
        position: relative;
        cursor: pointer;
    }
    .folder-submitted {
        margin: 0 20px 0 0;
        position: relative;
    }
    .icon-alert,
    .icon-folder,
    .icon-favorite,
    .icon-attachment { height: 15px; }

    .notification-alert,
    .notification-folder,
    .notification-favorite,
    .notification-attachment,
    .notification-inactive-records {
        position: absolute;
        top: -9px;
        right: -6px;
        background: $blue-secondary;
        width: 14px;
        height: 14px;
        p {
            color: $white;
            text-align: center;
            font-size: 0.513em;
            padding-top: 1px;
        }
    }
    .notification-inactive-records {
        right: -20px;
        background: #f00;
    }
    .alert-account {
        .icon-alert {
            background: url('../images/icon-account.png') no-repeat -27px 0;
            width: 13px;
        }
        .notification-alert { background: $alert; }
    }
    .folder-submitted {
        .icon-folder {
            background: url('../images/icon-account.png') no-repeat -54px 0;
            width: 18px;
        }
        .notification-folder { right: -4px; }
    }
    .folder-attachment{
        .icon-attachment {
            background: url('../images/icon-account.png') no-repeat -85px 0;
            width: 13px;
        }
    }
}

// Modal and page login

.reveal-modal,
.page-login {
    .forgot-password {
        font-style: italic;
        font-size: 0.813em;
    }
    .btn-flat-blue { margin: 0 15px 0 0; }

    .has-error,
    .error {
        ul {
            color: $alert;
            font-style: italic;
            list-style-type: none;
        }
    }
}


.my-profile-form {
    .row { margin-bottom: 10px; }
    line-height: 1.4;
    &:first-child { margin-top: 0; }
    p { margin: 0; }
}

// View file status ------------------

.table-files {
    table {
        thead {
            th { padding: 8px; }
            h4 {
                color: $white;
                margin: 0;
            }
        }
        tbody {
            tr {
                td {
                    width: 50%;
                    padding: 10px;
                    text-align: left;

                    img { padding: 0 30px; }
                }
            }
        }
    }
}

.block-attachment {
    background: $white;
    padding: 0 0 10px 0;
    h3  {
        font-family: $global-fonts;
        font-weight: bold;
        color: $white;
        display: block;
        padding: 10px 15px;
        margin: 0 0 7px 0;
        background: $white;
    }
    h4 { padding: 10px 15px 0 15px; }
    p {
        padding: 5px 15px 0 15px;
        margin-bottom: 0;
    }
    .call-back {
        padding: 10px 15px;
        margin: 0;
        label {
            font-family: $global-fonts;
            font-size: 0.9em;
            color: $black;
            font-weight: bold;
        }
    }
    ul {
        padding: 5px 28px 5px;
        margin: 0;
        font-size: 0.688em;
    }
    .btn-attachment { margin: 5px 28px 5px; }
}

.block-attachment { margin: 36px 0 20px 0; }


.accordion {
    table {
      margin-bottom: 0px;
    }
    thead {
        cursor: pointer;
    }
}
