@charset "UTF-8";

/* ---------------------------------------------------
  :: Search form
  ---------------------------------------------------- */

.search-form {
    background: $blue-secondary;
    padding: 0 0 5px;

    h1 {
        color: $white;
        font-family: $global-fonts;
        font-size: 1.25em;
        font-weight: bold;
    }

    form.custom {
        .custom.dropdown {
            margin-bottom: 0;
        }
    }

    label {
        color: $white;
        font-family: $global-fonts;
    }

    .helper {
        background-image: url('../images/help.png');
        background-position: right center;
        background-repeat: no-repeat;
        width: 16px;
        height: 16px;
        display: inline-block;
        margin-left:10px;
        cursor: help;
    }
    .f-dropdown.content.helper-content {
        margin-left: -10px;
        margin-top: 10px;
    }

    .filter {
        margin-top: 15px;
        .inline-list {
            font-size: 0.813em;
            margin-left: -0.6em;
            li {
                margin-left: 0.6em;
                color: $white;
                a {
                    font-style: italic;
                    color: $white;
                }
            }
            .title-filter { color: #054854; font-weight: bold;}
            .separator:last-child { display: none; }
        }
    }

    #adele_simple_search_date-group,
    #school_search_date-group {
        float: left;
        width: 72%;
        .custom.dropdown { margin-bottom: 0; }
    }

    #adele_simple_search_submit,
    #school_search_submit {
        float: right;
        margin-top: 18px;
    }

    #school_search_term-group {
        margin-bottom: 15px;
    }

    > .row {
        display: table;
        > .columns {
            float: none;
            display: table-cell;
            &.map-wrapper,
            &.phone-help-wrapper {
                vertical-align: bottom;
            }
        }
    }

    #geographic_search_term-group,
    #school_search_term-group {
        background: $white;
        position: relative;
        line-height: 2.25em;
        height: 34px;
        padding: 0 44px 0 8px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        color: rgba(0, 0, 0, 0.55);
        font-size: 0.875em;
        > label {
            display: none;
        }
        > a {
            background: $yellow;
            color: $white;
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            width: 36px;
            font-size: 1.625em;
            text-align: center;
            text-decoration: none;
            -webkit-border-top-right-radius: 4px;
            -moz-border-top-right-radius: 4px;
            border-top-right-radius: 4px;
            -webkit-border-bottom-right-radius: 4px;
            -moz-border-bottom-right-radius: 4px;
            border-bottom-right-radius: 4px;
            &:hover {
                text-decoration: none;
            }
        }
    }

    .organization-search #geographic_search_term-group {
        margin-top: 20px;
    }

    #geographic_search_school-group {
        label { display: none; }
    }

    #geographic_search_date-group {
        float: left;
        width: 72%;
        margin-top: 5px;
    }

    #geographic_search_submit {
        float: right;
        margin-top: 19px;
    }

    /* Search summary ------------------  */

    .summary-housing {
        margin: 0 0 10px 0;

        .panel-summary {
            background: rgba(255,255,255,0.2);
            padding: $small-spacing;
            margin: 6px 0 0 0;
        }
        .summary-image {
            background: rgba(255,255,255,0.2);
            padding: 2px;
        }

        .summary-housing-content {
            color: $white;
            .name-residence-summary {
                font-family: $global-fonts;
                color: $white;
                margin: 0 0 5px 0;
            }
            p { margin-bottom: 0; }
            .city-departement,
            .title-accommodation-blue  { color: #054854; }
        }
        & + div {
            vertical-align: bottom;
        }
    }
    #adele_simple_search_term-group,
    #geographical-search-row {
        padding-left: 32px;
        margin-left: -32px;
        background: url(../images/arrow-select2.png) no-repeat left 5px;
    }
    #geographical-search-row {
        padding-left: 21px;
    }

    .back { margin-top: 6px; }

    .title {
        text-align: center;

        h1 {
            color: $white;
            font-size: $medium-spacing;
            font-weight: normal;
            line-height: none;
            margin: 0px;
        }
        h2 {
            color: $white;
            font-size: 1.25em;
            font-weight: normal;
            line-height: none;
            margin: 0px;
        }
    }
}

.search-school-header {
    border-bottom: 1px solid #CCC;
    margin-bottom: 1.0em;
    padding-bottom: 1.0em;
}

#search-result-header {
    margin-bottom: 0.75em;

    .breadcrumbs {
        display: inline-block;
    }

    form {
        margin: 0.5em 0px 1.5em;

        .slider-result {
            background: #FFF;
            border: 1px solid $blue-secondary;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            height: 22px;
            left: -20px;
            margin: 0px;
            position: absolute;
            top: 21px;
            width: 65px;

            input {
                background: transparent none repeat scroll 0% 0%;
                border: medium none;
                height: 20px;
                margin: 0px;
                padding: 2px;
                text-align: right;
                width: 25px;
            }
        }
    }
}

.result-title {
    color: $blue-secondary;
}
