.pagination {
    margin-top: 40px !important;
    list-style: none;
    display: inline-block;
    padding-left: 0;
    border-radius: .25rem;

    .page-item {
        display: inline-block;

        &.active,
        &:hover,
        &:focus,
        &:active {
            .page-link {
                color: #333;
                cursor: default;
                background-color: #efefef;
                border-color: #9e9e9e;
            }
        }

        .page-link {
            margin-left: 8px;
            line-height: 18px;
            position: relative;
            // float: left;
            padding: .5rem .75rem;
            margin-left: -1px;
            line-height: 1.5;
            color: #fff;
            text-decoration: none;
            background-color: #9e9e9e;
            border: 1px solid #9e9e9e;

            &:first-child {
                border-bottom-right-radius: 0;
                border-top-right-radius: 0;
            }
            &:last-child {
                border-bottom-left-radius: 0;
                border-top-left-radius: 0;
            }

            &:hover,
            &:active,
            &:focus {
                color: #fff;
                background-color: #7a7a7a;
                border-color: #7a7a7a;
            }
        }
    }
}
