////
/// @author Drakona <contact@drakona.fr>
/// @group front/components
///
/// @since 13/02/2019
////

///
/// Hide
///
/// Hide completely an element
///
.hide,
.hidden {
  display: none !important;
}

///
/// Hide (visually only)
///
/// Hide an element, but keep it readable for screen readers and robots
///
.hide-visually {
  @include hide-visually;
}

///
/// Display only on small screens
///
.small-only {
  display: none !important;
}

///
/// Display only on small and medium screens
///
.medium-only {
  display: none !important;
}

@media (max-width: $breakpoint-small) {
  .small-only {
    display: inherit !important;
  }

  .hide-for-small {
    display: none !important;
  }
}

@media (max-width: $breakpoint-medium) {
  .medium-only {
    display: inherit !important;
  }

  .large-only {
    display: none !important;
  }
}
