@charset "UTF-8";

// Outer shadow for panel
@mixin box-shadow($box-shadow-size, $box-shadow-color) {
  box-shadow: $box-shadow-size $box-shadow-color;
  -webkit-box-shadow: $box-shadow-size $box-shadow-color;
  -moz-box-shadow: $box-shadow-size $box-shadow-color;
  -o-box-shadow: $box-shadow-size $box-shadow-color;
}

// box shadow in homepage for block-city
@mixin box-shadow-number-city($box-shadow-size-block-city, $box-shadow-color-block-city) {
  box-shadow: $box-shadow-size-block-city $box-shadow-color-block-city;
  -webkit-box-shadow: $box-shadow-size-block-city $box-shadow-color-block-city;
  -moz-box-shadow: $box-shadow-size-block-city $box-shadow-color-block-city;
  -o-box-shadow: $box-shadow-size-block-city $box-shadow-color-block-city;
}

@mixin border-step-train ($arrow-color) {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-width: 10px;
  border-style: solid;
  border-color: $arrow-color transparent transparent transparent;
  top: 39px;
  left: 45%;
}

@mixin gradient-vertical($start-color: #555, $end-color: #333, $start-percent: 0%, $end-percent: 100%) {
  background-image: -webkit-linear-gradient(top, $start-color $start-percent, $end-color $end-percent);  // Safari 5.1-6, Chrome 10+
  background-image: -o-linear-gradient(top, $start-color $start-percent, $end-color $end-percent);  // Opera 12
  background-image: linear-gradient(to bottom, $start-color $start-percent, $end-color $end-percent); // Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($start-color)}', endColorstr='#{ie-hex-str($end-color)}', GradientType=0); // IE9 and down
}

@mixin block-list($base-class) {
  .block-#{$base-class} {
    .block-list {
      padding: 10px;
    }

    .list {
      list-style: none;
      padding: 0;
    }

    .#{$base-class} {
      display: inline-block;
      list-style: none;
      margin: 5px;
      padding: 0;
      vertical-align: top;

      &-link {
        display: inline-block;
      }
    }
  }
}

@mixin ribbon(
  $type: 'promo',
  $size: 'normal',
  $left: 9px,
  $top: 19px,
  $font-size: 1em
) {
  $imgBase: '../images/#{$type}-ribbon.png';
  $height: 85px;
  $text-margin: 19px 0 0 -36px;

  @if $type != 'promo' {
    $text-margin: 14px 0 0 -31px;
    $font-size: #{$font-size * 0.8}
  }

  @if $size != 'normal' {
    $imgBase: '../images/#{$type}-ribbon-#{$size}.png';
    $height: 45px;
    $text-margin: 8px 0 0 -20px;
    $font-size: .75em;
  }
  position: absolute;
  z-index: 97;
  top: $top;
  left: $left;
  height: $height;
  width: #{$height + 15px};
  background: url($imgBase) no-repeat 0 0;

  p {
    color: $white;
    font-family: $button-font-family;
    font-size: $font-size;
    line-height: 1;
    margin: $text-margin;
    padding: 0;
    text-align: center;
    transform: rotate(-37deg);
  }
}

@mixin cross-sell(
  $base-class: 'block-cross-sell',
  $columns: 1
) {
  @include block-list($base-class: 'cross-sell');
  .#{$base-class} {
    .columns {
      padding-left: 0;
      padding-right: 0;
    }

    .slick-initialized {
      .cross-sell {
        display: block;
      }
    }

    .cross-sell {
      display: none;

      @if ($columns > 1) {
        padding: 0 10px;
      }

      &:first-child {
        display: block;
      }

      &-minimal {
        display: block;
        margin-bottom: 10px;
        min-height: 60px;
      }

      &-photo {
        margin-right: 5px;
      }

      &-availabilities {
        margin: 10px 0;

        .date-available {
          color: $success-color;
          font-weight: bold;
        }
      }

      &-actions {
        text-align: center
      }
    }

    ul {
      padding: 0;

      .inline-list > li {
        margin-left: 0.5em;
        font-size: .75em;

        &:first-child {
          margin-left: 0;
        }
      }
    }

    .description-residence {
      margin: 10px 0;
    }

    .ribbon-special-offers {
      @include ribbon(
        $type: 'promo',
        $size: 'small',
        $left: -1px,
        $top: -1px,
        $font-size: .85em
      );
    }

    .ribbon-new {
      @include ribbon(
        $type: 'new',
        $size: 'small',
        $left: -1px,
        $top: -1px,
        $font-size: .85em
      );
    }
  }
}
