.walkthrough {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &-wrapper {
    display: flex;
    flex-direction: column;
    height: calc(100% - 3rem);
    justify-content: center;
  }

  &__images {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  &__image {
    width: auto;
    max-height: 15rem;
  }

  &__texts {
    display: flex;
    justify-content: space-around;
    margin-top: 1.5em;
    list-style: decimal;
  }

  &__text {
    max-width: 33%;
  }

  &__title {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: $small-spacing;
  }

  &__subtitle {
    font-size: 1.2em;
    margin-bottom: $small-spacing;
    margin-top: $small-spacing;
  }
}
