////
/// @author Drakona <contact@drakona.fr>
/// @group front/components
///
/// @since 15/02/2019
////

/// @type number
$title-size-default: 1.25em !default;

/// @type number
$title-size-small: $default-spacing !default;

/// @type number
$title-size-big: 2.5em !default;

/// @type number
$title-size-medium: 1.5em !default;

/// @type number
$title-size-default-on-small: $default-spacing !default;

/// @type number
$title-size-big-on-medium: 2em !default;

/// @type number
$title-size-medium-on-medium: 1.25em !default;

/// @type number
$title-size-big-on-small: 1.5em !default;

/// @type number
$title-size-small-on-small: $default-spacing !default;

/// @type number
$title-line-height: 1.4 !default;

/// @type number
$title-margin-default: 1rem !default;

/// @type number
$title-margin-big: 2rem !default;

/// @type number
$title-margin-on-small: 1rem !default;

//
// Title mixins
//

///
/// title default properties
///
@mixin title(
  $size: $title-size-default,
  $margin-size: '',
  $line-height: '',
  $font-weight: '',
  $fonts: $title-fonts
) {
  align-items: center;
  display: flex;
  font-family: $fonts;
  font-size: $size;
  max-width: 100%;
  position: relative;
  @if $line-height != '' {
    line-height: $line-height;
  }
  @if $margin-size != '' {
    margin-bottom: $margin-size;
  }
  @if $font-weight != '' {
    font-weight: $font-weight;
  }
}

///
/// Title
///
.title {
  @include title(
    $line-height: $title-line-height,
    $margin-size: $title-margin-default
  );

  &--big {
    @include title(
      $size: $title-size-big,
      $margin-size: $title-margin-big
    );
  }

  &--medium {
    @include title(
      $size: $title-size-medium,
      $margin-size: $title-margin-default
    );
  }

  &--small {
    @include title(
      $size: $title-size-small,
      $font-weight: bold
    );
  }

  &--neutral {
    font-size: inherit;
  }

  &--no-margin {
    margin: 0;
  }
}

@media (max-width: $breakpoint-medium) {
  .title {
    font-size: $title-size-default-on-small;
    margin-bottom: $title-margin-on-small;
    text-align: center;

    &--big {
      font-size: $title-size-big-on-medium;
    }

    &--medium {
      font-size: $title-size-medium-on-medium;
    }

    &--small {
      font-size: $title-size-small-on-small;
    }
  }
}

@media (max-width: $breakpoint-small) {
  .title {
    &--big {
      font-size: $title-size-big-on-small;
    }
  }
}

@media screen and (min-width:0\0) {
  .title {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: $breakpoint-medium;
    width: 100%;
  }
}

@media #{"\\0 screen"} {
  .title {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: $breakpoint-medium;
    width: 100%;
  }
}

@media not all and (min-resolution:.001dpcm)
{ @supports (-webkit-appearance:none) {
  .title {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: $breakpoint-medium;
    width: 100%;
  }
}}
