////
/// @author Drakona <contact@drakona.fr>
/// @group front/components
///
/// @since 13/02/2019
////

/// @type number
$top-city-button-height: 3.5em;

/// @type number
$top-city-container-max-width: 90rem;

///
/// Top City
///
.top-city {
  background-size: cover;
  border-radius: $global-border-radius;
  display: inline-flex;
  flex: 1 0 15rem;
  height: 10rem;
  margin-right: $default-spacing;
  text-shadow: 0 0 $tiny-spacing rgba($black, .95);
  transition: transform .25s, filter .25s;
  width: 15rem;
  min-width: 15rem;

  &__wrapper {
    margin-top: 2rem;
    max-width: 100%;
    min-height: 10rem;
    position: relative;
    width: 100vw;
  }

  &__list {
    flex-wrap: nowrap;
    justify-content: flex-start;
    max-width: 100vw;
    min-width: 100vw;
    position: relative;

    &::before,
    &::after {
      content: ' ';
      height: 120%;
      position: absolute;
      top: -10%;
      width: 15%;
      z-index: 1;
    }

    &::before {
      background: linear-gradient(to right, $white, rgba(255, 255, 255, .8), transparent);
      left: 0;
    }

    &::after {
      background: linear-gradient(to left, $white, rgba(255, 255, 255, .8), transparent);
      right: 0;
    }
  }

  &__button {
    background-color: transparent;
    border: 0;
    color: $yellow;
    cursor: pointer;
    fill: $yellow;
    position: absolute;
    stroke: $yellow;

    &-label {
      @include hide-visually;
    }

    &-icon {
      height: $top-city-button-height;
      transition: color .25s, fill .25s, stroke .25s;
    }

    &--next {
      right: $default-spacing;
    }

    &--prev {
      left: $default-spacing;
    }

    &:hover,
    &:focus,
    &:active {
      color: $black;
      fill: $black;
      stroke: $black;
    }
  }

  &__link {
    align-items: center;
    color: $white;
    display: inline-flex;
    font-family: $title-fonts;
    font-size: 2em;
    height: 100%;
    justify-content: center;
    padding: $small-spacing 0;
    text-decoration: none;
    width: 100%;
  }

  &:hover,
  &:focus,
  &:focus-within,
  &:active {
    filter: opacity(80%);
    transform: scale(1.075);
  }
}

@media (max-width: $breakpoint-small) {
  .top-city {
    &__list {
      &::before,
      &::after {
        display: none;
      }
    }
  }
}
