.user {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;

  .error {
    color: red;
  }

  &__header {
    border-bottom: 1px solid rgba($color-secondary, .25);
    font-size: 2rem;
    padding: .5rem 2rem;
  }

  &__subtitle {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0 1rem 1rem;
  }

  &__modal {
    .user {
      border: 0;
      min-height: calc(100vh - 200px);
      max-height: calc(100vh - 200px);

      &__content {
        &--centered {
          align-items: center;
        }
      }

      &__contact {
        border: none;
      }
    }
  }

  &__paragraph {
    padding: .5rem 1rem;

    &--annotation {
      font-size: .8rem;
      padding: .5rem 1rem;
    }
  }

  &__error {
    color: red;
    display: none;
    padding: .5rem .25rem;
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    line-height: 1.4;
    padding: .5rem;

    &-wrapper {
      display: flex;
      flex-direction: row;
      flex-grow: 1;
      justify-content: space-between;
    }

    &--centered {
      align-items: flex-end;
      justify-content: center;
      text-align: left;
    }

    &--prime {
      flex-grow: 4;
    }

    .small {
      font-size: .75rem;
    }
  }

  &__contact {
    font-size: 1.60rem;
    line-height: 1;
    padding: .5rem 1rem;
    font-weight: bold;

    .fa {
      color: $white;
    }
  }

  &__table {
    border-collapse: separate;
    border-spacing: $small-spacing;
    border: 1px solid $grey-lighter;
    width: 100%;

    &-cell {
      padding: .25rem .5rem;
      text-align: left;

      &--end {
        text-align: right;
      }

      &--bordered {
        border-top: 1px solid $grey-lighter;
        padding-bottom: 0;
        padding-top: .5rem;
      }
    }

    .small {
      font-size: .75rem;
    }
  }

  .form-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 35rem;
    padding: .5rem 2rem;
    width: 100%;

    &--buttons {
      justify-content: flex-end;
    }

    > .checkbox {
      font-size: .75rem;
      padding-left: 15rem;
      text-align: left;

      .control-label {
        padding: 0;
        line-height: 1.2;
      }
    }
  }

  &__link {
    color: $white;
  }

  .control-label {
    line-height: 2rem;
    min-width: 15rem;
    padding-right: 1rem;
    text-align: right;

    &.required {
      &::after {
        content: '*';
        color: #f00;
      }
    }
  }

  .form-control,
  .intl-tel-input {
    width: calc(100% - 15rem);

    .form-control {
      width: 100%;
    }
  }

  .list-unstyled {
    color: #f00;
    padding: .5rem 0 0 0;
    text-align: right;
    width: 100%;
  }
}

@media screen and (max-width: $breakpoint-large) {
  .user {
    border: 0;

    &__content {
      padding-bottom: $small-spacing;
    }
  }
}

@media screen and (max-width: $breakpoint-small) {
  .user {
    &__table {
      display: none;
    }
  }
}
